# Build outputs
build/
bin/
out/

# CMake temporary files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# Visual Studio / MSVC files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.dir/

# Compiled libraries / binaries
*.dll
*.exe
*.lib
*.exp
*.pdb
*.ilk
*.obj
